@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #050511;
  color: white;
  overflow-x: hidden;
}

.glass-nav {
  background: rgba(5, 5, 17, 0.3);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.gradient-text {
  background: linear-gradient(to right, #00f3ff, #bc13fe, #ff0080);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}